@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* main color #598216 or #6B911B or #85bf35 */
/* text color # */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

body {
  /* background-color: #6f4e37; */
  background-color: #252c32;
  /* color: #f4e8da; */
  color: rgb(255, 255, 240);
}
a {
  color: rgb(255, 255, 240);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  height: 10vh;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #252c32;
  padding: 30px 170px;
}

.logo {
  color: #85bf35;
  font-weight: 600;
  font-size: 2.4rem;
}

.navbar {
  display: flex;
}
.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: #85bf35;
  transition: 0.4s ease;
}

.menu-icon {
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

section {
  padding: 60px 17%;
}

.container {
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.slider-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
}

.slider-text .title {
  text-transform: capitalize;
  font-size: 2rem;
}

.slider-text .sub-title {
  font-size: 2.5rem;
  color: rgb(255, 255, 240);
  margin: 1rem 0 2rem;
}

.btn {
  display: inline-block;
  padding: 6px 13px;
  background: #85bf35;
  color: rgb(255, 255, 240);
  border-radius: 0.5rem;
  transition: 0.4s ease;
}

.btn:hover {
  background: none;
  border: none;
  outline: none;
}

.about-img img {
  max-width: 100%;
  width: 480px;
  height: auto;
}

.about-text span {
  color: #85bf35;
  font-weight: 600;
}

.about-text h2 {
  font-size: 2.25rem;
  color: rgb(255, 255, 240);
  line-height: 1.2;
}

.about-text p {
  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 1.5rem;
  overflow: auto;
  padding: 0.5rem 1.5rem;
  width: 60rem;
  height: 30rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.modal-title {
  letter-spacing: 0.1rem;
  color: #85bf35;
  margin: 0.5rem 0;
}

.modal-text {
  color: #252c32;
  flex-basis: 100%;
  font-size: small;
}

.modal-close {
  border-radius: 3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 0.5rem 1.3rem;
  cursor: pointer;
  align-self: flex-end;
}

.modal-close:hover {
  background-color: #85bf35;
}
